
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
  <h5>{{ user.username }} <span class="badge badge-warning">{{ user.userType }}</span></h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
      </ul>
        <button (click)="logout()" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
    </div>
  </nav>
      
      <div class="jumbotron mx-5 my-3" style="background-color: white; height: 95vh;">
        <div class="d-flex align-items-center mx-5">
          <div>
              <h1 class="display-4 text-center">Customer Issues <span class="badge badge-warning rounded-circle"> {{ customerIssueCount$ | async}} </span></h1>
          </div>
          <div  class="ml-auto">
            <button *ngIf="user.userType != 'Admin'"  (click)="addIssue()" class="btn btn-outline-dark bw-1 py-2">
              <i class="fa fa-plus mr-2" ></i>ADD ISSUE
            </button>
          </div>
        </div>
        <hr>
          <app-customer-issue-list [user]="user$ | async"></app-customer-issue-list>
          <app-customer-issue-form #issueForm (submit)="onSubmit($event)" >
          </app-customer-issue-form>
      </div>